<header>
  <h1>Get Around Milwaukee</h1>
</header>

<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
    <li><a href="{{ '/get_around' | relative_url }}">Get Around</a></li>
    <li><a href="{{ '/your_life' | relative_url }}">Your Life</a></li>
  </ul>
</nav>
